h1{
    margin-top: 100px;
    margin-left: 100px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(48, 97, 3);

    /* shorthand property */
    /* text-decoration: underline dashed red; */
}

a{
    text-decoration: none;
}


div{
    /* shorthand property */
    margin: 20px 30px 40px 50px;
}

span{
    /* border-width: 3px;
    border-style: dotted;
    border-color: blue; */
    padding: 20px;

    /* shorthand property*/
    border: 5px dashed red;
    
}