#para1{
    /* custom coloring */
    color:red;
}

#para2{
    /* hex coloring */
    color:#4d31db;
}

.head1{
    color: purple;
}

.head2{
    color: red;
}

#heading{
    /* rgb coloring */
    /* background-color: rgb(11, 31, 2); */

    /* rgba coloring */
    background-color: rgba(11, 31, 2,.8);
}