.relative{
    border: 3px solid magenta;
    position: relative;
    left: 50px;
    height: 200px;
    width: 400px;
    padding-bottom: 800px;
}

.absolute{
    position: absolute;
    border: 3px solid green;
    top: 80px;
    right: 0;
    height:50px
}
.fixed{
    position: fixed;
    border: 3px solid red;
    bottom: 0;
    right: 0;
}

.sticky{
    position: sticky;
    border: 2px solid purple;
    padding: 5px;
    top: 0;
    background-color: rgb(241, 140, 140);
}

h2{
    display: none;
}

.div{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(241, 140, 140);
}